<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fetch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>findscholarships.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>html.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>htmlgen.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>init.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>utilities.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC1CFA7A1B9A3A1F00B755DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1CFA8A1B9A3B5300B755DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1CFA9A1B9B77DD00B755DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1CFABE1B9C5E9200B755DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC80DE291B9DA40E007C88B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC886AB41B99DC7E00972B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFA34051B9F69AA00305377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
